# Data Types and Structures

In [1]:
# Q1.Write a code to create a string with your name and print it.
Name = "Brijesh Maurya"
print(Name)

Brijesh Maurya

In [2]:
type(Name)

str

In [3]:
# Q2.Write a code to find the length of the string "Hello World".
string = "Hello World"
len(string)

11

In [8]:
#Q3.Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
slice_text = text[0:3]
print(slice_text)

Pyt

In [11]:
#Q4.Write a code to convert the string "hello" to uppercase.
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [13]:
#Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [14]:
#Q6.Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [17]:
#Q7.Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1,2,3,4,]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [18]:
#Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list =[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [19]:
#Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a','b','c','d']
second_element = list[1]
print(second_element)

b

In [27]:
#Q10.Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [29]:
#Q11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = [100, 200, 300]
print(tuple)

[100, 200, 300]

In [32]:
#Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = tuple[-2]
print(second_to_last_element)

blue

In [42]:
#Q13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print("The minimum number is:", minimum)

The minimum number is: 5

In [57]:
#Q14.Write a code to find the index of the element "cat" in the tuple = ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
element_tuple = tuple.index('cat')
print(element_tuple)

1

In [61]:
#Q15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple","banana","orange")

#Check if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("kiwi is in the tuple.")
else:
    print("kiwi is not in the tuple.")

kiwi is not in the tuple.

In [63]:
#Q16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a','b','c'}
print(set)

{'c', 'b', 'a'}

In [64]:
#Q17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set ={1,2,3,4,5}
set.clear()
print()

In [65]:
#Q18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [67]:
#Q19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1,2,3}
b = {3,4,5}
union = set.union(a,b)
print(union)

{1, 2, 3, 4, 5}

In [68]:
#Q20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1,2,3}
b = {2,3,4}
intersection = set.intersection(a,b)
print(intersection)

{3}

In [69]:
#Q21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name":"Brijesh","age":25,"city":"Gurugram"}
print(dict)

{'name': 'Brijesh', 'age': 25, 'city': 'Gurugram'}

In [77]:
#Q22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name': 'John', 'age': 25}

# Adding new key_value pair
dict['country'] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [78]:
#Q23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dictionary = {'name': 'Alice', 'age': 30}
value = dictionary['name']
print(value)

Alice

In [79]:
#Q24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del_key = dictionary.pop("age")
print(dictionary)

{'name': 'Bob', 'city': 'New York'}

In [80]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary = {'name': 'Alice', 'city': 'Paris'}

# Check if "city" exists in the dictionary
if "city" in dictionary:
    print("The city is in the dictionary")
else:
    print("The city is not in the dictionary ")

The city is in the dictionary

In [81]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
# Creating a list
my_list = (1,2,3,4,5,)

#Creating a tuple
my_tuple = ("apple","mango","banana")

#Creating a dictionary
my_dict = {"name":"Brijesh","age":25}

#Print them all
print(my_list)
print(my_tuple)
print(my_dict)

(1, 2, 3, 4, 5)
('apple', 'mango', 'banana')
{'name': 'Brijesh', 'age': 25}

In [87]:
#Q27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [7, 12, 22, 66, 80]

In [99]:
#Q28.Write a code to create a list with strings and print the element at the third index.
#Creating a list of strings
string_list = ("Ajay", "Vijay", "Sonu","Monu")

#Printing the element at the third index (index 3)
print("element at index 3:", string_list[3])

element at index 3: Monu

In [104]:
#Q29.Write a code to combine two dictionaries into one and print the result.
dict_a = {"Name":"Brijesh"}
dict_b = {"Age":25}
combined_dict = {**dict_a, **dict_b}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'Name': 'Brijesh', 'Age': 25}

In [126]:
#Q30.Write a code to convert a list of strings into a set.
# List of strings
string_list = ["apple", "banana", "apple", "orange", "banana"]

# Convert list to set to remove duplicates
string_set = set(string_list)

# Print the result
print(string_set)

TypeError: 'set' object is not callable