# Data Types and Structures Solutions

### Q1.Write a code to create a string with your name and print it.

In [ ]:
# Code
Name = "Brijesh Maurya"
print(Name)

Brijesh Maurya

### Q2.Write a code to find the length of the string "Hello World".

In [4]:
# Code
string = "Hello World"
length = len(string)
print(length)

11

### Q3.Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
# Code
string = "Python Programming"
sliced_string = string[0:3]
print(sliced_string)

Pyt

### Q4.Write a code to convert the string "hello" to uppercase.

In [5]:
# Code
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

### Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
# Code
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

### Q6.Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# Code
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

### Q7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
# Code
numbers = [1,2,3,4,]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

### Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
# Code
numbers =[1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

### Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [7]:
# Code
letters = ['a','b','c','d']
second_element = letters[1]
print(second_element)

b

### Q10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [9]:
# Code
numbers = [10,20,30,40,50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

### Q11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
# Code
my_tuple = [100, 200, 300]
print(my_tuple)

[100, 200, 300]

### Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [10]:
# Code
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

### Q13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [11]:
# Code
my_tuple = (10, 20, 5, 15)
minimum = min(my_tuple)
print("The minimum number is:", minimum)

The minimum number is: 5

### Q14.Write a code to find the index of the element "cat" in the tuple = ('dog', 'cat', 'rabbit').

In [13]:
# Code
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

### Q15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [14]:
# Code
my_tuple = ('apple', 'orange', 'banana')
exists = 'banana' in my_tuple
print(exists)

True

### Q16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
# Code
my_set = {'a','b','c'}
print(my_set)

{'b', 'a', 'c'}

### Q17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
# Code
my_set ={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

### Q18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
# Code
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

### Q19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
# Code
set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

### Q20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
# Code
set1 = {1,2,3}
set2 = {2,3,4}
intersection_set= set1.intersection(set2)
print(intersection_set)

{2, 3}

### Q21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
# Code
my_dict = {"name":"Brijesh","age":25,"city":"Gurugram"}
print(my_dict)

{'name': 'Brijesh', 'age': 25, 'city': 'Gurugram'}

### Q22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
# Code
my_dict = {'name': 'John', 'age': 25}
# Adding new key_value pair
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

### Q23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
# Code
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

### Q24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
# Code
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

### Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
# Code
my_dict = {'name': 'Alice', 'city': 'Paris'}
exists = "city" in my_dict
print(exists)

True

### Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Code
# Creating a list
my_list = (1,2,3,4,5,)

#Creating a tuple
my_tuple = ("apple","mango","banana")

#Creating a dictionary
my_dict = {"name":"Brijesh","age":25}

#Print them all
print(my_list)
print(my_tuple)
print(my_dict)

(1, 2, 3, 4, 5)
('apple', 'mango', 'banana')
{'name': 'Brijesh', 'age': 25}

### Q27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

In [27]:
# Code
import random
random_numbers = [random.randint(1,100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[8, 30, 38, 84, 97]

### Q28.Write a code to create a list with strings and print the element at the third index.

In [28]:
# Code
my_list = ("Ajay", "Vijay", "Sonu","Monu")
third_element = my_list[2]
print(third_element)

Sonu

### 29.Write a code to combine two dictionaries into one and print the result.

In [29]:
# Code
dict1 = {"Name":"Brijesh"}
dict2 = {"Age":25}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'Name': 'Brijesh', 'Age': 25}

### Q30.Write a code to convert a list of strings into a set.

In [30]:
# Code
my_list = ["apple", "banana", "apple", "orange", "banana"]
my_set = set(my_list)
print(my_set)

{'banana', 'orange', 'apple'}